* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-family: "Sen", sans-serif;
  font-size: 1.6rem;
}
html {
  font-size: 62.5%;
}
/* Common */
.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
}
a {
  text-decoration: none;
}
.light-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #bfbcb2;
  margin-bottom: 12px;
}
.darkwhite-text {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.8rem;
  color: white;
}
.dark-text {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}
.btn-yellow-1 {
  width: 144px;
  height: 50px;
  background: #ffb900;
  border-radius: 24.5px;
  text-align: center;
  color: white;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
}
.btn {
  width: 144px;
  height: 50px;
  background: #171100;
  border-radius: 24.5px;
  text-align: center;
  color: white;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
}
.yelow-btn {
  width: 180px;
  height: 64px;
  background: #ffb900;
  line-height: 64px;
  border-radius: 32px;
  font-weight: 600;
  font-size: 1.8rem;
}
.mb-200 {
  margin-bottom: 200px;
}
.mt-38 {
  margin-top: 38px;
}
.mt-16 {
  margin-top: 16px;
}
.mb-22 {
  margin-bottom: 22px;
}

.align-center {
  align-items: center;
}
/* Header */
.header {
  padding-top: 36px;
  background-color: #fffcf4;
}

.header .menu-btn {
  position: relative;
  display: flex;
  width: 50%;
  align-items: center;
}
.header .menu-btn::before {
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  top: 35px;
  left: 37px;
  background: #171100;
  border-radius: 1px;
}
.header .row {
  justify-content: space-between;
}
.header ul {
  display: flex;
  justify-content: space-between;
}
.header .btn {
  margin-left: auto;
}
.header ul a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding: 5px 5px;
  margin-left: 32px;
}
.header ul li:first-child {
  font-weight: 600;
}
/* BODYYYY */
.body {
  padding-top: 64px;
  background-color: #fffcf4;
  padding-bottom: 65px;
}

.body .img-block {
  width: 50%;
  position: relative;
}
.body .image {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.body .title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 68px;
  letter-spacing: -0.02em;
  color: #171100;
  width: 470px;
}
.body .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  margin-top: 22px;
  color: #5f5b53;
  width: 470px;
}
.body .fist-page {
  display: flex;
  justify-content: space-evenly;
}
.body .info {
  /* width: 50%; */
  padding-top: 64px;
  display: block;
  margin-left: auto;
}
.body .watch {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}
.body .play-btn {
  margin-top: 10px;
  margin-left: 28px;
  margin-right: 10px;
}
.body .sub-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  margin-top: 40px;
  color: #5f5b53;
  width: 470px;
}
.body .value {
  display: flex;
  align-items: first baseline;
}
.body .numb {
  font-family: "Sen";
  font-weight: 700;
  font-size: 5.8rem;
  letter-spacing: -0.02em;
  color: #171100;
  margin-right: 20px;
}
.body .label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  margin-top: 40px;
  color: #5f5b53;
}
.body .tab {
  position: absolute;
  width: 270px;
  height: 244px;
  bottom: 48px;
  right: 0;
  background-color: white;
  border-radius: 12px;
  padding: 24px 28px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}
.body .tab-label {
  margin-left: 16px;
}
.body .name {
  margin-top: 8px;
}
/* Courses */

.courses {
  padding-top: 200px;
  padding-bottom: 200px;
}
.courses .title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -0.02em;

  color: #171100;
}
.courses .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #5f5b53;
  margin-top: 16px;
  width: 460px;
}
.courses .courses-btn {
  margin-left: auto;
  margin-top: 40px;
}
.courses .img-courses {
  width: 370px;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.list-courses {
  margin-top: 55px;
}
.list-courses .row {
  gap: 30px;
}
.list-courses .info {
  padding: 16px 22px;
}
.list-courses .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #5f5b53;
  width: 326px;
}
.list-courses .courses-star {
  margin-left: auto;
}
.list-courses .point {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #fea31b;
}
.list-courses .yelow-btn {
  width: 118px;
  height: 50px;
  line-height: 50px;
  margin-left: auto;
}
.courses-item {
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
/* qoutes */
.qoutes {
  width: 100%;
  height: 380px;
  background: #2e2100;
}
.qoutes .img-qoutes {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 999px;
}
.qoutes .info {
  padding: 96px 0 0 0;
  width: 30%;
}
.qoutes .name {
  font-family: "Sen";
  font-weight: 700;
  font-size: 2.4rem;
  color: #f7f7f7;
  margin-top: 18px;
}
.qoutes .desc {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  color: #bfbcb3;
  margin-top: 10px;
}
.qoutes .info .dot {
  margin-top: 28px;
}
.qoutes .qoutes-desc {
  position: relative;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: #ffffff;
  width: 740px;
  margin-left: auto;
  margin-top: 124px;
}
.qoutes .dot-qoutes {
  position: absolute;
  top: -25px;
  left: -35px;
}
/* Adver */
.adver {
  padding: 200px 0;
}
.adver .img-block {
  width: 50%;
  display: flex;
  border-radius: 16px;
  gap: 30px;
}
.adver .adv-img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}
.adver .adv-img-2 {
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 16px;
}
.adver .adv-img:first-child {
  margin-top: 30px;
}
.adver .info {
  margin-left: auto;
}
.adver .title {
  margin-top: 58px;
  width: 470px;
  font-family: "Sen";
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #171100;
}
.adver .title-2 {
  margin-top: 58px;
  width: 570px;
  font-family: "Sen";
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #171100;
}
.adver .desc {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5f5b53;
  width: 570px;
  margin-top: 16px;
}
.adver .desc-2 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5f5b53;
  width: 460px;
  margin-top: 16px;
}
.adver .btn {
  background: #ffb900;
  border-radius: 26px;
  width: 137px;
  height: 50px;
  margin-top: 32px;
}
.adver .row {
  justify-content: space-between;
}
/* Blog */
.blog {
  background-color: #fffcf4;
  padding-top: 96px;
  padding-bottom: 96px;
}
.blog-top .title {
  font-family: "Sen";
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #130606;
}
.blog-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.blog-top .desc {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #696262;
  width: 448px;
  margin: 0 auto;
}
.blog .thumb {
  width: 370px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.blog-list .desc {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #5f5b53;
}
.blog-list .info {
  padding: 20px 20px 28px;
}
.blog-list .info .dot {
  margin-bottom: 2px;
}
.blog-list .separate {
  border-bottom: 1.6px solid rgba(0, 0, 0, 0.05);
  margin-top: 14px;
  margin-bottom: 12px;
  width: 50%;
}
.blog-list .item {
  background-color: white;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);

  border-radius: 16px;
}
.blog .dot-blog {
  margin: 0 auto;
  margin-top: 38px;
}
/* footer */
.footer {
  height: 428px;
  background: #2e2100;
}
.footer .separate {
  border-bottom: 1.6px solid rgba(180, 172, 172, 0.267);
  margin-top: 14px;
  margin-bottom: 12px;
  margin-top: 38px;
}
.footer .list-footer {
  padding-top: 96px;
  justify-content: space-evenly;
}
.item-footer > p {
  width: 267px;
  margin-top: 18px;
}
.item-footer ul li {
  /* margin-top: 30px; */
  margin-top: 12px;
}
.item-footer ul li::first-letter {
  font-weight: 600;
}
.list-footer .row {
  justify-content: space-between;
}
.list-footer .separate {
  border-bottom: 1.6px solid rgba(180, 172, 172, 0.267);
  margin-top: 14px;
  margin-bottom: 20px;
  width: 130px;
}
.list-footer .list-icon img {
  margin-right: 18px;
  margin-top: 4px;
}
.footer .copyright {
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #807d74;
  margin-top: 28px;
}
